html,
body{
    margin: 0;
}

.one,
.two,
.three,
.four{
    min-height: 100vh;
    display: flex;
}

.one{
    justify-content: center;
    background-image: url(Images/Page-1_background.jpg);
    background-size: cover;
}

.three{
    background-color: cadetblue;
}

.four{
    background-color: aqua;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: blanchedalmond;
}

.header a:hover{
    color: chartreuse;
}

.logo{
    font-weight: bolder;
    font-size: 55px;
    padding-left: 10px;
    color: midnightblue;
}

.right ul{
    display: flex;
    gap: 28px;
    margin-right: 15px;
}

.one .header{
    min-height: 60px;
    flex: none;
    font-size: 24px;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.one .content{
    height: 650px;
    display: flex;
    flex-direction: column;
    flex: initial;
    width: 75%;
    gap: 15px;
}

.one .context{
    border: 0px solid red;
    flex: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 90%;
    box-sizing: border-box;
    padding-top: 22px;
}

.one .context-1,
.one .context-2{
    flex: auto;
    word-wrap: normal;
    width: 50%;
}

.one .context-1{
    word-wrap: normal;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.one .context-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.7;
    margin-top: -22px;
    border-radius: 0 10px 10px 0;
}

.one img{
    width: 100%;
    height: auto;
    border: 0px;
}

.one .heading{
    padding-top: 10px;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

.one .texts{
    font-size: 21px;
    padding: 25px 15px 0 15px;
}

.one .button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.button button{
    padding: 5px 15px;
    font-size: 25px;
    border: 0;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: black;
}

.button button:hover{
    background-color: crimson;
    color: white;
}

.two{
    background-image: url(Images/COD-ghost.jpg);
    background-size: cover;
    justify-content: center;
}

.two .content{
width: 75%;
background-color: rgba(95,158,160,0.5);
}