html,
body{
    margin: 0;
}

.one,
.two,
.three,
.four{
    min-height: 100vh;
    display: flex;
}

.one{
    justify-content: center;
    background-image: url(Images/Page-1_background.jpg);
    background-size: cover;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: blanchedalmond;
}

.header a:hover{
    color: chartreuse;
}

.logo{
    font-weight: bolder;
    font-size: 55px;
    padding-left: 10px;
    color: midnightblue;
}

.right ul{
    display: flex;
    gap: 28px;
    margin-right: 15px;
}

.one .header,
.four .footer{
    min-height: 60px;
    flex: none;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.one .header{
    justify-content: space-between;
}

.one .content{
    height: 580px;
    display: flex;
    flex-direction: column;
    flex: initial;
    width: 75%;
}

.one .context{
    border: 0px solid red;
    flex: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 83%;
    box-sizing: border-box;
    padding-top: 10px;
}

.one .context-1,
.one .context-2{
    flex: initial;
    word-wrap: normal;
    width: 50%;
}

.one .context-1{
    word-wrap: normal;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.one .context-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.7;
    margin-top: -10px;
    border-radius: 0 10px 10px 0;
}

.one img{
    width: 100%;
    height: auto;
    border: 0px;
}

.one .heading{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

.one .texts{
    font-size: 21px;
    padding: 0px 15px 0 15px;
}

.one .button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.button button,
.but{
    padding: 5px 15px;
    font-size: 25px;
    border: 0;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: black;
}

.button button:hover,
.but:hover{
    background-color: crimson;
    color: white;
}

.two{
    background-image: url(Images/COD-ghost.jpg);
    background-size: cover;
    justify-content: center;
}

.two .content{
width: 80%;
background-color: rgba(95,158,160,0.3);
display: flex;
flex-direction: column;
border: 0;
border-radius: 10px;
}

.two .header{
    margin-top: 20px;
    padding-top: 40px;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: crimson;
}

.two .boxes{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 50px 50px;
    flex: auto;
}

.two .box{
    word-wrap: normal;
    width: 40%;
    flex: initial;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: aliceblue;
}

.box img{
    margin-bottom: 20px;
    width: 100%;
    flex: initial;
}

.box span{
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    width:90%;
    padding: 2px 5px 4px 5px;
    vertical-align: bottom;
    border: 1px solid rgb(253, 0, 0);
    border-radius: 20px;
    color: black;
    background-color: rgba(95,158,160,0.3);
}

.box span:hover{
    background-color: gold;
    color: black;
}

.box .desc{
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 5px 0 8px;
    height: 210px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(7, 163, 1);
    border: 0;
    border-radius: 15PX;
}

.three{
    flex: none;
    justify-content: center;
    align-items: center;
}

.three .back-vid
{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.three .auth{
    height: 300px;
    width: 700px;
    flex: initial;
    background-color: rgba(102, 0, 0, 0.7);
    border: 0;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: -90px;
    font-size: 23px;
    color: whitesmoke;
    font-weight: 400;
    font-family: sans-serif;
}

#me{
    font-size: 30px;
    font-weight: bolder;
}

.four{
    background-image: url(Images/Page-4_Background.jpg);
    background-size: cover;
    flex-direction: column;
}

.main{
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four .footer{
    justify-content: center;
    background-color: rgba(95, 158, 160, 0.6);
}

.four .content{
    display: flex;
    flex: initial;
    width: 75%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 0;
    border-radius: 15px;
}

.four .ls{
    width: 80%;
    font-size: 25px;
    font-weight: 800;
    word-wrap: normal;
    flex-direction: column;
    flex: initial;
    padding: 10px;
}

.four .ls,
.four .rs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.four .rs{
    flex: auto;
}

#last{
    font-size: 18px;
}